@import '../../scss/variables';

.main__title {
    font-family: 'HarryPotter', fantasy ;
    color: $color-yellow-snitch;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 13px;
}