@import '../../scss/variables';

.main__title {
    font-family: 'HarryPotter', fantasy ;
    color: $color-yellow-snitch;
    text-align: center;
    font-size: 80px;
    margin: 20px 0 60px 0;
    letter-spacing: 5px;
}