// @import '../src/scss/fonts';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding: 20px;
  background-image: url('./images/main-backgorund.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}