@font-face {
    font-family: 'HarryPotter';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/HARRYP.woff2') format('woff2'),
        url('../../public/fonts/HARRYP.woff') format('woff'),
        url('../../public/fonts/HARRYP.otf') format('opentype'),
        url('../../public/fonts/HARRYP.ttf') format('truetype');
}
